<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <sectionGroup name="safiraFramework">
        <section name="trace" type="Safira.Framework.TraceSectionHandler,Safira.Framework"/>
      </sectionGroup>
    </configSections>

  <safiraFramework>
    <trace mode="on" debugMode="on" defaultLevel="none">
      <scope name="Midgard" level="lead" dynamic="off" method="off"/>
      <scope name="Midgard" level="success" dynamic="off" method="off"/>
    </trace>
  </safiraFramework>
  
</configuration>