<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	<section name="flexWiki" type="FlexWiki.FlexWikiConfigurationSectionHandler, FlexWiki" />
  </configSections>
  <flexWiki>
	<plugins>
		<!-- Add <plugin> elements that identify plugins that implement WikiTalk types -->
		<!-- <plugin>AssemblyNameGoesHere</plugin> -->
	</plugins>
  </flexWiki>
  <appSettings>
    <!-- PUT THE FULL PATH TO THE NAMESPACE MAP FILE HERE -->
    <add key="FederationNamespaceMapFile" value="~/wiki/WikiBases/NamespaceMap.xml" />
    <add key="SMTPServer" value="Xmail.flexwiki.com" />
    <add key="NewslettersFrom" value="wikinewsletters@flexwiki.com" />
    
    <add key="DisableNewsletters" value="true" />
    
	<!-- Set this key value to the comma-separated list of namespaces that should
	be imported into a namespaces newly created through the administration UI -->
	<!-- <add key="DefaultImportedNamespaces" value="Projects.Dog, Projects.Cat" /> -->

	<!-- Set this key to a valid email address to enable visitors to 
	request a namespace.  If this key is     set, users will be able 
	to fill in a form requesting a namespace and the request 
	will be sent by email to this address. -->
	<add key="SendNamespaceCreationRequestsTo" value="donbonifacio@gmail.com" />


    <!-- Security - Used for Forms and Namespace Security
	 Specify the type of security to use.  Currently the only option is webconfig which indicates to
	 FlexWiki that the user crudentials are kept in the webconfig.
	 -->
    <add key="Security" value="webconfig" />
    <!-- DataProviders for the Security -->
    <!-- User DataProvider -->
    <add key="UserDataProvider" value="FlexWikiSecurity" />
    <add key="UserDataProviderClass" value="FlexWikiSecurity.SimpleUserDataProvider" />
    <add key="UserDataProviderConnection" value="UserData.config" />
    <!-- Permissions DataProvider -->
    <add key="PermissionsDataProvider" value="FlexWikiSecurity" />
    <add key="PermissionsDataProviderClass" value="FlexWikiSecurity.SimplePermissionsDataProvider" />
    <add key="PermissionsDataProviderConnection" value="PermissionsData.config" />
    <!-- Role DataProvider -->
    <add key="RoleDataProvider" value="FlexWikiSecurity" />
    <add key="RoleDataProviderClass" value="FlexWikiSecurity.SimpleRoleDataProvider" />
    <add key="RoleDataProviderConnection" value="RoleData.config" />
    
    <!-- Setting this to true will cause the newsletters to be sent as HTML attachments, 
	 rather than as HTML email. -->
    <add key="SendNewslettersAsAttachments" value="false" />
    
    <!-- The next two keys are needed for wiki newsletters if your SMTP server requires authentication 
	 If your SMTP server does not require authentication, comment them out. -->
    <!--add key="SMTPUser" value="davidorn@flexwiki.com" />
    <add key="SMTPPassword" value="password" /-->
    
    <!-- To Override the style sheet uncomment this line
	 <add key="OverrideStylesheet" value="~/override.css" />
	 -->
    <!-- To show spaces in wiki links by default change this value to "True" -->
    <add key="DisplaySpacesInWikiLinks" value="True" />
    
    <!-- Include the LogPath key to identify a file to record log
	 entries. Path can be absolute. Relative paths are relative to
	 this directory. Note that if you use a relative path to write
	 to the web directory, the file may be able to be downloaded
	 by remote users, allowing them to read the contents of the
	 log file. Using an absolute path is recommended for
	 heightened security.
	 -->
    <add key="LogPath" value="flex.csv" />
    
  </appSettings>
      <system.web>
        <customErrors mode="Off"/>
    </system.web>
</configuration>
