<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>                      
		<add key="WikiUrl" value="http://midgard.zi-yu.com/wiki/" />
		<add key="default" value="default.aspx" />
		<add key="homePageName" value="index" />
		<add key="controlsFolder" value="controls" />
		<add key="errorsFolder" value="controls/errors" />
		<add key="DisplaySpacesInWikiLinks" value="True" />
		<add key="BlogUrl" value="http://www.cc.isel.ipl.pt/CS/blogs/midgard/rss.aspx" />
		<add key="BlogXslt" value="Blog.xslt" />
		<add key="DefaultNamespace" value="Midgard" />
		<add key="LatestPostsXslt" value="LatestPosts.xslt" />
		<add key="OrionsbeltProfileUrl" value="http://orionsbelt.zi-yu.com/ruler.aspx?id=1&amp;locale=pt" />
		<add key="SiteHostFinder" value="midgard." />
		<add key="SourceMail" value="psantos@zi-yu.com" />
		<add key="SourceMailName" value="Pedro Santos" />
	</appSettings> 
	<system.web>
		<compilation defaultLanguage="c#" debug="true" />
		<customErrors mode="Off" />
		<authentication mode="Windows" />
		<authorization> 
			<allow users="*" />      
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
			cookieless="false" timeout="20" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
</configuration>
