<?xml version="1.0" encoding="iso-8859-1"?>
<configuration>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~
	~ Property Factory
	~ List of all of the property types that a shape may have.
	~
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<properties>
		<!-- Generic -->
		<property type="string" moniker="Midgard.XmlForms.StringControl,Midgard.XmlForms"/>
		<property type="integer" moniker="Midgard.XmlForms.IntegerControl,Midgard.XmlForms"/>
		<property type="richText" moniker="Midgard.XmlForms.RichTextControl,Midgard.XmlForms"/>
		<property type="moniker" moniker="Midgard.XmlForms.MonikerControl,Midgard.XmlForms"/>
		<property type="enumeration" moniker="Midgard.XmlForms.EnumerationControl,Midgard.XmlForms"/>
		<property type="bool" moniker="Midgard.XmlForms.CheckBoxControl,Midgard.XmlForms"/>
		<property type="seperator" moniker="Midgard.XmlForms.SeperatorControl,Midgard.XmlForms"/>
		<property type="itemList" moniker="Midgard.XmlForms.ItemListControl,Midgard.XmlForms"/>
		<property type="comboBox" moniker="Midgard.XmlForms.ComboBoxControl,Midgard.XmlForms"/>
    <property type="stringButton" moniker="Midgard.XmlForms.StringButtonControl,Midgard.XmlForms"/>
    <property type="selectionList" moniker="Midgard.XmlForms.LookUpControl,Midgard.XmlForms"/>

    <!-- Screen Model: Midgard Specific -->
		<property type="trq:comboShapes" moniker="Midgard.ScreenModel.ComboShapesControl,Midgard.ScreenModel"/>
		<!--property type="trq:dataGrid" moniker="Midgard.ScreenModel.DataGridControl,Midgard.ScreenModel"/>
		<property type="trq:tab" moniker="Midgard.ScreenModel.TabControl,Midgard.ScreenModel"/>
		<property type="trq:radioList" moniker="Midgard.ScreenModel.RadioListControl,Midgard.ScreenModel"/>
		<property type="trq:checkBoxList" moniker="Midgard.ScreenModel.CheckBoxListControl,Midgard.ScreenModel"/>
		<property type="trq:treeView" moniker="Midgard.ScreenModel.TreeControl,Midgard.ScreenModel"/>
		<property type="trq:cgiConfig" moniker="Midgard.ScreenModel.CgiConfigProperty,Midgard.ScreenModel"/>
		<property type="trq:cgoConfig" moniker="Midgard.ScreenModel.CgoConfigProperty,Midgard.ScreenModel"/>
		<property type="trq:cgiManageNode" moniker="Midgard.ScreenModel.CgiManageNodeProperty,Midgard.ScreenModel"/>
		<property type="trq:cgiConfigEdit" moniker="Midgard.ScreenModel.CgiConfigEditProperty,Midgard.ScreenModel"/-->

		<!-- Process Model: Quartz Specific -->
		<property type="trq:tabList" moniker="Midgard.ProcessModel.TabListProperty,Midgard.ProcessModel"/>

		<!-- Process Model: Midgard Specific -->
		<property type="trq:listBoxShapes" moniker="Midgard.ProcessModel.ListBoxShapesControl,Midgard.ProcessModel"/>
		<property type="trq:providerServiceList" moniker="Midgard.ProcessModel.providerServiceListProperty,Midgard.ProcessModel"/>
		<!--property type="trq:eaiList" moniker="Midgard.ProcessModel.EaiServiceListProperty,Midgard.ProcessModel"/>
		<property type="trq:channelList" moniker="Midgard.ProcessModel.ChannelListProperty,Midgard.ProcessModel"/>
		<property type="trq:listbox" moniker="Midgard.ProcessModel.GenericListbox,Midgard.ProcessModel"/>
		<property type="trq:channel" moniker="Midgard.ProcessModel.ChannelProperty,Midgard.ProcessModel"/-->
	</properties>

	<namespaces>
		<!-- Namespace xf: is always added: no need to declare it here -->
		<namespace prefix="trq" uri="http://www.Midgard.pt/XmlForms/Specific"/>
	</namespaces>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~
	~ Property Factory
	~ List of all of the property types that a shape may have.
	~
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<shapeLibrary>
		<location dir="~/shapes/"/>
	</shapeLibrary>

</configuration>